@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Lexend+Deca&display=swap");

:root {
  --blue: #3ea1db;
  --blue-dark: #574ae8;
  --white: #fff;

  --title: #313131;
  --text: #b6b6b6;

  --linear: linear-gradient(90deg, #574ae8 0%, #3ea1db 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
}

header {
  height: auto;
  background: var(--linear);
  display: flex;
  padding: 41px 15%;
  width: 100%;
  flex-direction: column;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: var(--white);
  font-size: 24px;
}

#divSearch {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  width: 100%;
  margin-top: 4.563rem;
}

input[type="search"] {
  background-color: transparent;
  border: none;
  height: 65px;
  width: 100%;
  padding: 1.375rem;
  font-family: "Inter", sans-serif;
  outline: 0;
  font-size: 18px;
  color: var(--white);
}

input::placeholder {
  color: var(--white);
  opacity: 0.6;
  font-weight: 100;
  font-size: 18px;
}

.fa-search {
  color: var(--white);
  padding-left: 1.375rem;
}

main {
  background: #f3f5f7;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 100px 15%;
}

article {
  width: 100%;
  background: var(--white);
  padding: 25px;
  margin-bottom: 3.125rem;
  box-shadow: 0px 0px 10px rgba(19, 19, 31, 0.05);
  border-radius: 5px;
  height: auto;
}

article:last-child {
  margin-bottom: 0;
}

.div-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 22px;
  width: 100%;
}

span {
  color: var(--text);
  font-size: 16px;
  line-height: 1.375rem;
}

i {
  color: var(--blue-dark);
  font-size: 24px;
}

.title {
  font-size: 26px;
}

.description {
  color: var(--text);
  font-size: 18px;
  line-height: 32px;
  margin-top: 8px;
  font-weight: 400;
  font-style: normal;
}

footer {
  background: var(--linear);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 8vh;
  color: var(--white);
}

@media (max-width: 767px) {
  header,
  main {
    padding: 10% 5%;
  }

  #divSearch {
    margin-top: 41px;
  }

  .div-space-between {
    margin-bottom: 18px;
  }

  span {
    font-size: 14px;
  }

  i {
    color: var(--blue-dark);
    font-size: 22px;
  }

  .description {
    font-size: 16px;
  }

  input[type="search"] {
    height: 42px;
    font-size: 14px;
  }

  footer {
    padding: 0px 30px;
  }
}
